<%- include('header') %>

    <body>
        <%- include('navbar') %>
            <div class="container">
                <hr>
                <div class="corpo" style="padding-top:20px" >

                    <div class="row">

                        <div class="col-md-8">
                            <%- include('validation') %>
                            <%- include('formContato') %>
                        </div>
                        <!--Start second row of columns-->
                    </div>
                </div>
            </div>
            <hr>
            <%- include('footer') %>
    </body>

    </html>