<div class="container">
    <h2>Gostaria de falar conosco</h2>
    <h4><a href="intent://send/11983147367#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end">
            <img src="/img/whatsapp-logo.png" alt="Responsive image">
        </a>
        Pelo Whatsapp 
        <a href="intent://send/11983147367#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end">
            +55 (11)98314-7367
        </a>
    </h4>
    <h4>
        <a href="mailto:comercial2@jofen.com.br?subject=Orçamento: <%= PP.nome %> Site">
            <img src="/img/email-logo.png" alt="Responsive image">
        </a>
        Envie um e-mail clicando aqui:  
        <a href="mailto:comercial2@jofen.com.br?subject=Orçamento: <%= PP.nome %> Site">
            comercial2@jofen.com.br
        </a>
    </h4>
    <h4> Ou preencha o formulário:</h4>

    <form class="well col-sm-10 col-md-11" action="/getmail" method="post">
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <label>Nome</label>
                <input class="form-control" type="text" placeholder="Nome" name="nome" value="<%= dadosForm.nome %>">
                <label>Telefone</label>
                <input type="text" class="form-control" placeholder="Telefone" name="telefone" value="<%=dadosForm.telefone%>">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Email" name="email" value="<%=dadosForm.email%>">
                <label>Assunto</label>
                <input type="text" class="form-control" placeholder="Assunto" name="assunto" value="<%=dadosForm.assunto%>">
            </div>
            
            <div class="col-sm-8 col-md-7">
                <div class="form-group">
                    <label>Mensagem</label> 
                    <textarea class="col-sm-3 col-md-3 form-control" id="message" placeholder="Mensagem" rows="10" name="mensagem" value="<%=dadosForm.mensagem%>"></textarea>  
                </div>
            </div>            
        </div>
            <br>
    <button class="btn btn-info pull-right" type="submit">Enviar</button>
    </form>
</div>