<%- include('header') %>

    <body>
        <%- include('navbar') %>

            <div class="container">
                <% if(produto[0]) { %>
                    <% PP=produto[0] %>
                        <% } %>
                            <!-- Inicio fundo branco -->
                            <div class="fundo-branco">

                                <div class="col-md-8">
                                    <%- include('validation') %>
                                </div>

                                <!-- Titulo row -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <h1 class="page-header" style="padding:0px 10px 0px 10px">
                                            <%= PP.nome %>
                                                <small><%= PP.categoria %></small>
                                        </h1>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div style=" border:10px; padding:0px 15px 15px 15px;">
                                            <img src="../../uploads/<%= PP.url_imagem %>" class="img-responsive" alt="Responsive image">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div style=" border:10px; padding:0px 15px 15px 15px;">
                                            <h3>Descrição</h3>
                                            <p>
                                                <%= PP.descricao %>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- Final fundo branco -->

                            <%- include('formProduto') %>
            </div>
            </div>
            <!-- /container -->
            <%- include('footer') %>
    </body>

    </html>